    <div class="content container">
        <div id="content-left" class="col-sm-9">
            <div class="row"><!-- destination -->
                <section class="col-sm-2">
                    <img src="../../image/{{destination.city}}.jpg" alt="destination" class="img-circle">
                </section>
                <section class="middle text col-xs-4">
                    <h2>{{destination.city}}</h2>
                    <p><span>From:&nbsp;&nbsp;</span>{{destination.startDate}}</p>
                    <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To:&nbsp;&nbsp;</span>{{destination.endDate}}</p>
                </section> 
                <section class="col-xs-2">
                    <button id="editTransport" type="button" class="btn btn-warning"> Edit </button>
                </section>
                <section class="col-xs-2">
                    <button id="deleteTransport" type="button" class="btn btn-danger">Delete</button>
                </section> 
            </div>
            <hr>
            <div class="row"><!-- transport -->
                <div class="text col-sm-2">
                    <h4>Transport</h4>
                    <button id="addTransport" type="button" class="btn btn-success"> Add </button>
                </div>
                <div class="col-xs-10">
                    <div class="row">
                        <section class="contentMiddle text col-xs-4">
                            <h5>Flight Delta DL3004</h5>
                            <p>03/20/2017 07:45 EST</p>
                        </section>
                        <section class="col-xs-2">
                            <button id="editTransport" type="button" class="btn btn-warning"> Edit </button>
                        </section>
                        <section class="col-xs-2">
                            <button id="deleteTransport" type="button" class="btn btn-danger">Delete</button>
                        </section>
                    </div>
                </div>
            </div>
            <hr>
            {{#day}}
            <div class="text row">
                <section class="col-sm-4 col-sm-offset-3">
                    <h3>{{this.date}}</h3>
                </section>
            </div>
            <hr>
            <div class="row"><!-- attractions -->
                <div class="text col-sm-2">
                    <h4>Attractions</h4>
                    <a href="/trip/attraction/add/{{../destination.trip_id}}/{{this.formatDate}}" class="btn btn-success"> Add </a>
                </div>
                <div class="col-xs-10">
                    {{#attraction}}
                    <div class="row">
                        <section class="contentMiddle text col-xs-4">
                            <h5>{{this.name}}</h5>
                            <p>{{this.travelDate}}</p>
                        </section>
                        <section class="col-xs-2">
                            <button id="editAttractions" type="button" class="btn btn-warning"> Edit </button>
                        </section>
                        <section class="col-xs-2">
                            <button id="deleteAttractions" type="button" class="btn btn-danger">Delete</button>
                        </section>
                    </div>
                    <br>
                    {{/attraction}}
                </div>
            </div>
            <hr>
            <div class="row"><!-- hotel -->
                <div class="text col-sm-2">
                    <h4>Hotel</h4>
                    <button id="addHotel" type="button" class="btn btn-success"> Add </button>
                </div>
                <div class="col-xs-10">
                    <div class="row">
                        <section class="contentMiddle text col-xs-4">
                            <h5>Boston Marriott Copley Place</h5>
                            <p>110 Huntington Ave, Boston, MA 02116</p>
                        </section>
                        <section class="col-xs-2">
                            <button id="editHotel" type="button" class="btn btn-warning"> Edit </button>
                        </section>
                        <section class="col-xs-2">
                            <button id="deleteHotel" type="button" class="btn btn-danger">Delete</button>
                        </section>
                    </div>
                </div>
            </div>
            <hr>
            {{/day}}
            <div class="row"><!-- Food&Drink -->
                <div class="text col-sm-2">
                    <h4>Food&Drink</h4>
                    <button id="addFood" type="button" class="btn btn-success"> Add </button>
                    <p>Powered by Yelp</p>
                </div>
                <div class="col-xs-10">
                    <div class="row">
                        <section class="contentMiddle text col-xs-4">
                            <h5>Fuji at Ink Block</h5>
                            <p>352 Harrison Ave, Ste B, South End, Boston, MA 02118</p>
                        </section>
                        <section class="col-xs-2">
                            <button id="editFood" type="button" class="btn btn-warning"> Edit </button>
                        </section>
                        <section class="col-xs-2">
                            <button id="deleteFood" type="button" class="btn btn-danger">Delete</button>
                        </section>
                    </div>
                </div>
            </div>


        </div>

        <div id="content-right" class="col-sm-3">
            <h4 class="text">Travel Mate</h4>
            <br>
            <h5 class="text">User1</h5>
            <h5 class="text">User2</h5>
            <br>
            <div class="row">
                <section class="col-xs-4 col-xs-offset-2">
                    <button id="addUser" type="button" class="btn btn-success">Add</button>
                </section>
                <section class="col-xs-3">
                    <button id="editUser" type="button" class="btn btn-warning">Edit</button>
                </section>
            </div>
            <hr>
            <hr>
            <h4 class="text">Messages</h4>
            <br>
            <div class="message">
                <p>User1: Hello!</p>
                <p>User2: Let's plan it!</p>
            </div>
            <div >
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="message">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>