    <div class="content container">
        <div id="content-left" class="col-sm-9">
            <div class="row"><!-- destination -->
                <section class="col-sm-2">
                    <img src="../../image/{{destination.city}}.jpg" alt="destination" class="img-circle">
                </section>
                <section class="middle text col-xs-4">
                    <h2>{{destination.city}}</h2>
                    <p><span>From:&nbsp;&nbsp;</span>{{startDate}}</p>
                    <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To:&nbsp;&nbsp;</span>{{endDate}}</p>
                </section> 
                <section class="col-xs-1">
                    <a href="/trip/editdate/{{destination.trip_id}}" type="button" class="btn btn-warning"> Edit </a>
                </section>
                <section class="col-xs-2">
                    <a href="../../lookAround/{{destination.city}}?tripId={{destination.trip_id}}"><button class="btn btn-primary">Explore</button></a>
                </section>
                <section class="col-xs-4">
                    {{{delete}}}
                </section> 
            </div>
            <hr>
            <div class="row"><!-- transport -->
                <div class="text col-sm-2">
                    <h4>Transport</h4>
                    <a href="/trip/transport/add/{{destination.trip_id}}" type="button" class="addButton btn btn-success"> Add </a>
                </div>
                <div class="col-xs-10">
                    {{#transport}}
                    <div class="row">
                        <section class="contentMiddle text col-xs-4">
                            <h5>{{this.name}} {{this.info}}</h5>
                            <p>{{this.travelDate}}</p>
                        </section>
                        <section class="col-xs-2">
                            <a href="/trip/transport/edit/{{../destination.trip_id}}/{{this.id}}" type="button" class="btn btn-warning"> Edit </a>
                        </section>
                        <section class="col-xs-2">
                            <a href="/trip/transport/delete/{{../destination.trip_id}}/{{this.id}}" type="button" class="btn btn-danger">Delete</a>
                        </section>
                    </div>
                    <br>
                    {{/transport}}
                </div>
            </div>
            <hr>
            {{#day}}
            <div class="text row">
                <section class="col-sm-4 col-sm-offset-3">
                    <h3>{{this.date}}</h3>
                </section>
            </div>
            <hr>
            <div class="row"><!-- attractions -->
                <div class="text col-sm-2">
                    <h4>Attractions</h4>
                    <a href="/trip/attraction/add/{{../destination.trip_id}}/{{this.formatDate}}" class="addButton btn btn-success"> Add </a>
                    
                </div>
                <div class="col-xs-10">
                    {{#attraction}}
                    <div class="row">
                        <section class="contentMiddle text col-xs-4">
                            <h5>{{this.name}}</h5>
                            <p>{{this.travelDate}}</p>
                        </section>
                        <section class="col-xs-2">
                            <a href='/trip/attraction/edit/{{../../destination.trip_id}}/{{this.travelFormatDate}}/{{this.name}}' type="button" class="btn btn-warning"> Edit </a>
                        </section>
                        <section class="col-xs-2">
                            <a href='/trip/attraction/delete/{{../../destination.trip_id}}/{{this.travelFormatDate}}' type="button" class="btn btn-danger">Delete</a>
                        </section>
                    </div>
                    <br>
                    {{/attraction}}
                </div>
            </div>
            <hr>
            <div class="row"><!-- hotel -->
                <div class="text col-sm-2">
                    <h4>Hotel</h4>
                    <a href="/trip/hotel/add/{{../destination.trip_id}}/{{this.formatDate}}" class="addButton btn btn-success"> Add </a>
                </div>
                <div class="col-xs-10">
                    {{#hotel}}
                    <div class="row">
                        <section class="contentMiddle text col-xs-4">
                            <h5>{{this.name}}</h5>
                            <p>{{this.address}}</p>
                            <p>{{this.travelDate}}</p>
                        </section>
                        <section class="col-xs-2">
                            <a href="/trip/hotel/edit/{{../../destination.trip_id}}/{{../this.formatDate}}" type="button" class="btn btn-warning"> Edit </a>
                        </section>
                        <section class="col-xs-2">
                            <a href="/trip/hotel/delete/{{../../destination.trip_id}}/{{../this.formatDate}}" type="button" class="btn btn-danger">Delete</a>
                        </section>
                    </div>
                    {{/hotel}}
                </div>
            </div>
            <hr>
            {{/day}}
            <!--
            <div class="row">
                <div class="text col-sm-2">
                    <h4>Food&Drink</h4>
                    <button id="addFood" type="button" class="addButton btn btn-success"> Add </button>
                    <p>Powered by Yelp</p>
                </div>
                <div class="col-xs-10">
                    <div class="row">
                        <section class="contentMiddle text col-xs-4">
                            <h5>Fuji at Ink Block</h5>
                            <p>352 Harrison Ave, Ste B, South End, Boston, MA 02118</p>
                        </section>
                        <section class="col-xs-2">
                            <button id="editFood" type="button" class="btn btn-warning"> Edit </button>
                        </section>
                        <section class="col-xs-2">
                            <button id="deleteFood" type="button" class="btn btn-danger">Delete</button>
                        </section>
                    </div>
                </div>
            </div>
            -->

        </div>

        <div id="content-right" class="col-sm-3">
            <p class="identity" id="trip_id">{{{trip_id}}}</p>
            <div class="row">
                <h3>&nbsp;&nbsp;<span class="label label-primary">Participants</span></h3>
                <br>       
                <h4 class="userlist">{{#userlist}}<span class="userlistspan label label-info">{{this.username}}</span>&nbsp;<span class="label label-default">{{this.role}}</span> {{/userlist}}</h4>      
            </div>
            <br>
            {{{participants}}}
            <hr>
            <h4 class="text">Messages</h4>
            <div class="message">
                <ul class="message" id="messages"></ul>
            </div>
            <div class="row">
                <span class="label label-primary">Chat with your companions</span>
                <div class="input-group">
                    <textarea id="m" type="text" class="form-control" rows="2" placeholder="message"></textarea>
                    <button id="chatSubmit" class="btn btn-primary" type="button">Submit</button>
                </div>
            </div>
        </div>
    </div>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  var room = $('#trip_id').text();
  $(function () {
    var socket = io();
    socket.on('connect', function() {
        socket.emit('room', room);
    });
    $('#chatSubmit').on('click',function(){
      socket.emit('chat message', {'username':$('#username').text().substring(8),
                                    'trip_id':$('#trip_id').text(),
                                    'message':$('#m').val()});
      $('#m').val('');
      return false;
    });
    socket.on('chat message', function(msg){
      $('#messages').append($('<li>').text(msg));
    });
  });
</script>